@model TrocaLivro.Aplicacao.CasosDeUsos.PontosViewModel

<div class="col-md-2 pontos-container">
    <div class="text-light">
        Você possui <span class="badge badge-danger pontos">@Model.Pontos</span> pontos
    </div>
</div>