@model TrocaLivro.Aplicacao.CasosDeUsos.PontosViewModel

<div class="pontos-container mt-2">
    <div class="text-light">
        Você possui <span class="badge badge-danger pontos">@Model.Pontos</span> pontos
    </div>
</div>