@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">
    <strong>@Model.QtdLivrosDisponiveis</strong> livros disponiveis
</h3>

<div id="livros-adicionados-recentemente" class="pt-2"></div>

<h3 class="text-center">
    <strong>@Model.QtdLivrosTrocados</strong> livros trocados
</h3>

<div id="livros-adicionados-recentemente" class="pt-2"></div>

@section Scripts{
    <script src="~/js/livro/home.js"></script>
}