@model ObterDadosDashboardViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h3 class="text-center">
    Livros adicionados recentemente
</h3>

<div id="livros-adicionados-recentemente" class="pt-2"></div>

<h3 class="text-center">
    Está sem pontos para fazer trocas? É possivel compra-los, basta escolher um pacote abaixo.
</h3>

<div id="pacotes-pontos-container">
    <partial name="_PacotesPontos" model="@Model.Pacotes" />
</div>

@*<h3 class="text-center">
    <strong>@Model.QtdLivrosTrocados</strong> livros trocados
</h3>*@

<div id="livros-adicionados-recentemente" class="pt-2"></div>

@section Scripts{
    <script src="~/js/livro/home.js"></script>
}