<footer class="border-top footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 p-3 text-center">
                <h5>Curta-nos nas Redes Sociais</h5>
                <ul class="list-unstyled social-media-footer">
                    <li class="face">
                        <a target="_blank" href="">
                            <i class="fa fa-2x fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="youtube">
                        <a target="_blank" href="">
                            <i class="fa fa-2x fa-youtube"></i>
                        </a>
                    </li>
                    <li class="insta">
                        <a target="_blank" href="">
                            <i class="fa fa-2x fa-instagram"></i>
                        </a>
                    </li>
                    <li class="twitter">
                        <a target="_blank" href="">
                            <i class="fa fa-2x fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-lg-12 text-center">
                &copy; 2021 - BookExchange
            </div>
        </div>
    </div>
</footer>