<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Exchange: @ViewData["Title"]</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/sweetAlert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/lib/animate/animate.css" />
    <link rel="stylesheet" href="~/css/vars.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site-customizacoes.css" />
    <link rel="stylesheet" href="~/css/cards.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/lib/sidebar/jquery.sidebar.css"/>
</head>
<body class="customize" data-mega-menu="true">
    <header>
        <partial name="_Nav" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-12 p-3 text-center">
                    <h5>Curta-nos nas Redes Sociais</h5>
                    <ul class="list-unstyled social-media-footer">
                        <li class="face">
                            <a target="_blank" href="">
                                <i class="fa fa-2x fa-facebook-square"></i>
                            </a>
                        </li>
                        <li class="youtube">
                            <a target="_blank" href="">
                                <i class="fa fa-2x fa-youtube"></i>
                            </a>
                        </li>
                        <li class="insta">
                            <a target="_blank" href="">
                                <i class="fa fa-2x fa-instagram"></i>
                            </a>
                        </li>
                        <li class="twitter">
                            <a target="_blank" href="">
                                <i class="fa fa-2x fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-lg-12 text-center">
                    &copy; 2021 - BookExchange 
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sidebar/jquery.sidebar.js"></script>
    <script src="~/js/bs4-extensions.js"></script>
    <script src="~/lib/sweetAlert2/sweetalert2.min.js"></script>
    <script src="~/js/sweet-alert-helper.js"></script>
    <script src="~/js/extensoesJquery.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
