<div class="container-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <nav class="navbar navbar-expand-sm col-sm-4 col-md-4 col-lg-3 navbar-logo">
                        <a class="navbar-brand" href="/">
                            <span class="fa fa-book"></span>
                            <span class="logo-strong">B</span>ook<span class="logo-strong">E</span>xchange
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars" style="color: white"></span>
                        </button>
                    </nav>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
                        <form id="form-pesquisa" asp-controller="livro" asp-action="pesquisa" method="GET">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group mr-3">
                                        <input type="text" class="form-control" id="termoPesquisa" name="termoPesquisa" placeholder="Pesquisar produto" 
                                            aria-label="Pesquisar produto" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-light" type="submit" id="button-addon2">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span class="login-nav text-light text-right">
                                <i class="fa fa-user"></i> Olá,
                                <a asp-action="MinhaConta" asp-controller="Usuario" class="a-primary">@User.Identity.Name</a> clique em
                                <a asp-action="Sair" asp-controller="Usuario" class="a-primary" title="Sair no sistema" data-container="body" 
                                    data-toggle="tooltip" data-placement="body">Sair</a> para fazer seu logout.
                            </span>
                        }
                        else 
                        { 
                            <span class="login-nav text-light text-right">
                                <i class="fa fa-user"></i> Olá , Faça seu
                                <a asp-action="Login" asp-controller="Usuario" class="a-primary" data-container="body" 
                                    title="Entrar no sistema" data-toggle="tooltip" data-placement="body">Login</a>
                                <br /> ou
                                <a asp-action="Registrar" asp-controller="Usuario" class="a-primary" title="Entrar no sistema" data-container="body">
                                    Cadastre-se
                                </a>.
                            </span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <nav class="row navbar navbar-expand-sm navbar-light mainmenu">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="collapse navbar-collapse" id="navbar-menu">
                                <vc:categorias></vc:categorias>
                            </div>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <vc:pontos></vc:pontos>
                    }
                </nav>
            </div>
        </div>
    </div>
</div>