<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">BookExchange</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown teste-mega-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </a>
                    <div class="dropdown-menu bg-dark teste-mega-dropdown" id="" aria-labelledby="navbarDropdown">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <span class="text-uppercase text-white">Category 1</span>
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Link item</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Livro" asp-action="Cadastrar">Cadastrar livro</a>
                    </li>
                }
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
            </form>

            @if (!User.Identity.IsAuthenticated)
            {
                <div class="form-inline">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Login" asp-controller="Usuario">Login</a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle text-white text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Olá @User.Identity.Name</a>

                        <div class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link  " asp-action="Sair" asp-controller="Usuario">Trocas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " asp-action="Sair" asp-controller="Usuario">Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  " asp-action="Sair" asp-controller="Usuario">Sair</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul> 
            }

        </div>
    </div>
</nav>