@model LogarUsuarioModel
<h5>Login » <small>Entre com suas credenciais abaixo</small></h5>

<hr />

<form asp-action="Logar" id="form-login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (!string.IsNullOrEmpty(ViewBag.Mensagem))
    {
        <div class="alert @((bool)ViewBag.Sucesso ? "alert-success" : "alert-danger") ">
            <span>@ViewBag.Mensagem</span>
            @if (!(bool)ViewBag.Sucesso)
            {
                <ul class="mb-0">
                    @foreach (string erroOcorrido in (List<string>)ViewBag.Erros)
                    {
                        <li>@erroOcorrido</li>
                    }
                </ul>
            }
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" type="password" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-outline-primary ">
                Entrar
            </button>
        </div>
    </div>
</form>