@model List<TrocaDisponibilizadaViewModel>

<div id="livros-disponibilizados-troca">
    <h4><i class="fa fa-long-arrow-right"></i> Livros disponibilizado para troca pelo seu usuário.</h4>
    @if (Model.Count == 0)
    {
        <div class="alert alert-info">
            Ainda não existem livros disponibilizados para troca por seu usuário.
        </div>
    }
    else
    {
        <div class="row d-flex">
        @foreach (var livroTroca in Model)
        {
            <div class="flex-fill col-md-4 mb-4">
                <partial name="_Card" model="livroTroca" />
            </div>
        }
        </div>
    }
</div>