@model List<LivroCardModel>
    
<h4>Veja abaixo os livros cadastrados por você.</h4>

@if (Model.Count > 0)
{
    <div class="row d-flex">
        @foreach (var livro in Model)
        {
            <div class="flex-fill col-md-4 mb-4">
                <partial name="_Card" model="livro" />
            </div>
        }
    </div>
}
else{
    <div class="alert alert-info">
        Nenhum livro cadastrado.
    </div>
}