@model List<LivroCard>

<div class="row d-flex">
    @foreach (var livroDTO in Model)
    {
        <div class="flex-fill col-md-3 mb-3">
            <div class="card " >
                <img src="@livroDTO.Capa" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@livroDTO.Titulo</h5>
                    <p class="card-text">@livroDTO.Descricao</p>
                    <a asp-action="Detalhes" asp-controller="Livro" asp-route-id="@livroDTO.Id" class="btn btn-outline-dark btn-block">Ver detalhes</a>
                </div>
            </div>
        </div>
    }
</div>